/*-- scss:defaults --*/
$primary: #4d8dc9;
$secondary: #68b8e5;

$presentation-title-slide-text-align: left;
$link-color: $primary;
$code-block-bg: rgba(lighten($primary, 20%), 0.1);
$code-block-border-color: transparent;

/*-- scss:rules --*/
.reveal {
  .title-logo {
    width: 35%;
    max-height: 10%;
  }

  .backgrounds {
    background-size: cover;
    background-position-y: center;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><!-- rects --><path d="M 1000 -1000 L 1000 1000 80 1000 80 -1000 M -1000 -1000 L -1000 1000 -80 1000 -80 -1000" fill="%234D8DC930" ><animateTransform attributeName="transform" attributeType="XML" type="rotate" repeatCount="indefinite" from="0 0 50" to="360 0 50" dur="60s" ></animateTransform></path><path d="M 1000 -1000 L 1000 1000 85 1000 85 -1000 M -1000 -1000 L -1000 1000 -85 1000 -85 -1000" fill="%234D8DC940" ><animateTransform attributeName="transform" attributeType="XML" type="rotate" repeatCount="indefinite" from="60 0 50" to="420 0 50" dur="65s" ></animateTransform></path><path d="M 1000 -1000 L 1000 1000 90 1000 90 -1000 M -1000 -1000 L -1000 1000 -90 1000 -90 -1000" fill="%234D8DC950" ><animateTransform attributeName="transform" attributeType="XML" type="rotate" repeatCount="indefinite" from="120 0 50" to="480 0 50" dur="70s" ></animateTransform></path><path d="M 1000 -1000 L 1000 1000 80 1000 80 -1000 M -1000 -1000 L -1000 1000 -80 1000 -80 -1000" fill="%234D8DC960" ><animateTransform attributeName="transform" attributeType="XML" type="rotate" repeatCount="indefinite" from="180 0 50" to="540 0 50" dur="75s" ></animateTransform></path><path d="M 1000 -1000 L 1000 1000 85 1000 85 -1000 M -1000 -1000 L -1000 1000 -85 1000 -85 -1000" fill="%234D8DC970" ><animateTransform attributeName="transform" attributeType="XML" type="rotate" repeatCount="indefinite" from="240 0 50" to="600 0 50" dur="80s" ></animateTransform></path><path d="M 1000 -1000 L 1000 1000 90 1000 90 -1000 M -1000 -1000 L -1000 1000 -90 1000 -90 -1000" fill="%234D8DC980" ><animateTransform attributeName="transform" attributeType="XML" type="rotate" repeatCount="indefinite" from="300 0 50" to="660 0 50" dur="85s" ></animateTransform></path></svg>');
  }

  .slide-logo {
    max-height: 12.5vh !important;
    max-width: 20vw !important;
  }  

  .slide-logo-title {
    visibility: hidden;
  }

  .cell {
    // echo'ed code blocks
    .sourceCode {
      background-color: transparent;

      // only blur and apply colors to code-containing div, otherwise we blur the text as well
      pre {
        background-color: rgba($primary, 0.1);
        backdrop-filter: blur(10px);
      }

      // add background color to line number gutter
      code.sourceCode::after {
        content: counter(source-line);
        position: absolute;
        z-index: -1;
        color: transparent;
        background-color: rgba($primary, 0.1);
        height: 100%;
        top: 0;

        // from quarto default:
        //   .reveal pre.numberSource code > span
        left: -2.1em;

        // from quarto default: 
        //   pre.numberSource code > span > a:first-child::before
        padding: 0 4px;
        width: 4em;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .code-annotated code.sourceCode::after {
        left: calc(-2.1em - 9px);  // account for difference in pre.code-annotated padding
      }
    }

    // console code output
    .cell-output pre {
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(8px);

      code {
        background-color: transparent;
      }
    } 

    // filename line
    .code-with-filename-file {
      background-color: rgba($primary, 0.4);
      backdrop-filter: blur(8px);
      margin: 0 1px;

      pre {
        background-color: transparent;
      }

      + .sourceCode {
        border-top: none;
      }
      
    }
  }
}
